.education-info-input {
    display: flex;
    flex-flow: column;
    gap: 5px;
}

.education-info-input__info {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
    h4 {
        width: 100%;
    }
}