p {
    margin: 0;
}

.main__preview-sec {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    gap: 20px;
    border-radius: 10px;
}

.preview-sec__general-info {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 150px;
    color: #fff;
    background-color: oklch(62.3% 0.214 259.815);
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
}

.preview-sec__gi__name {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.preview-sec__gi__email {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.preview-sec__gi__phone {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.preview-sec__gi__adress {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}


.preview-sec__education-info {
    height: 20%;
    display: grid;
    align-items: center;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%;

    .subtitle {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .preview-sec__ei__dates {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .preview-sec__ei__info {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: start;
        text-align: start;
    }
}

.preview-sec__experiencie-info {
    height: 20%;
    display: grid;
    align-items: center;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%;

    .subtitle {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .preview-sec__exi__dates {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .preview-sec__exi__info {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: start;
        text-align: start;

        .preview-sec__exi__role{
            text-align: start;
        }
    }
}
