body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Red Hat Text';
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  background-color: #ffffff;
  color: #000;
  padding: 5%;
}

.main {
  display: flex;
  flex-flow: row;
  width: 80vw;
  height: auto;
  padding: 5%;
  padding-top: 0;
}
.main__preview-sec {
  box-shadow: 10px 10px 25px 3px #aaa;
  border-radius: 5px;
  padding: 5%;
}


.general-info-input, .education-info-input, .experiencies-info-input  {
  box-shadow: 10px 10px 25px 3px #aaa;
  border-radius: 5px;
  padding: 5%;
  padding-bottom: 12%;
  padding-top: 8%;
}

.main__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
  height: auto;
  text-align: center;
}

.main__preview-sec {
  width: 60%;
  height: auto;
  text-align: center;
}

.utilities {
  display: flex;
  gap: 25px;
  margin: 50px;
}