body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  background-color: #ffffff;
  color: #000;
}

.main {
  display: flex;
  flex-flow: row;
  width: 80vw;
  height: auto;
  padding: 5%;
}
.main__form, .main__preview-sec {
  box-shadow: 10px 10px 5px 7px #aaa;
  border-radius: 5px;
  padding: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.main__form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 50%;
  height: auto;
  text-align: center;
}

.main__preview-sec {
  width: 50%;
  height: auto;
  text-align: center;
}